*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 14px;
    color: #241f0c;
}

a{
    text-decoration: none;
}

img{
    border: none;
}

.center{
    width: 70%;
    margin: 0 auto;
}


#top{
    width: 100%;
}

.col-1{
    width: 100%;
    height: 30px;
    background: #eee;
    border-bottom: solid 1px #dedede;
    text-align: center;
    line-height: 30px;
}

.col-2{
    width: 70%;
    height: 80px;
    margin: 1% auto;
    position: relative;
}

.col-2:after{
    content: "";
    clear: both;
    display: block;
}

.col-2 .logo{
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.col-2 .logo a>img{
    display: block;
    width: 100%;
}

.col-2 .fun{
    float: right;
}

.col-2 .fun .column{
    float: right;
    margin-left: 10px;
    margin-top: 25px;
    position: relative;
}

.col-2 .fun .column a>img{
    display: block;
    width: 30px;
}

.col-2 .fun .column .login{
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: 0;
    top: 30px;
    display: none;
}

.col-2 .fun .column .login li{
    width: 150px;
    height: 50px;
    border: 1px solid #ccc;
}

.col-3{
    width: 560px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #ccc;
    padding: 5px;
}

.col-3>input{
    display: block;
    float: left;
    width: 500px;
    height: 40px;
    outline: none;
    border: none;
}

.col-3>img{
    display: block;
    float: left;
    width: 40px;
    height: 40px;
}

.col-4{
    width: 100%;
    height: 50px;
    background: url("../images/bbc.png");
    background-size: cover;
    margin-top: 3%;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav:after{
    content: "";
    clear: both;
    display: block;
}

.nav li{
    float: left;
    line-height: 50px;
}

.nav li a{

}

.banner{
    width: 100%;
}

.banner a>img{
    display: block;
    width: 100%;
}


#bottom{
    width: 100%;
    background: #f3f3f3;
}

.bottom-top{
    width: 70%;
    margin: 0 auto;
    padding: 3%;
    overflow: hidden;
}

.bottom-top .list{
    float: left;
    width: 25%;
}

.bottom-top .list li{
    line-height: 25px;
}

.footer{
    width: 100%;
    height: 60px;
    background: #f3f3f3;
    text-align: center;
    line-height: 60px;
    border-top: 1px solid #ccc;
}