#container{
    width: 100%;
    padding: 5% 0;
    position: relative;
}

.content{
    overflow: hidden;
}

.content .left{
    float: left;
    width: 40%;
}

.content .left>img{
    display: block;
    width: 100%;
}

.content .right{
    float: right;
    width: 55%;
}

.right .name{
    font-weight: 300;
    letter-spacing: 1px ;
    font-size: 25px;
    margin: 2% 0;
}

.right .line{
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 2% 0;
}

.right .price{
    color: #666;
    margin: 2% 0;
    font-weight: bold;
    font-size: 16px;
}

.right .row{
    width: 100%;
    overflow: hidden;
    margin: 2% 0;
}

.right .row>input{
    float: left;
    width: 50px;
    height: 40px;
    margin-left: 20px;
}

.right .row>p{
    line-height: 40px;
}

.right .button{
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 4% 0;
    background-color: #666;
}

.right .button a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.right .tag{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin: 2% 0;
}

.right p{
    line-height: 30px;
}


.message{
    float: right;
    width: 55%;
}

.message .message-top{
    width: 100%;
    margin-bottom: 3%;
    background: #eee;
}

.message-top .title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    padding-left: 30px;
    font-weight: bold;
    font-size: 20px;
    background-color: #666;
}

.message-top .one , .message-top .two{
    float: left;
    width: 50%;
    position: relative;
    padding: 10% 3%;
}

.message-top .one .sign{
    width: 80%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #666;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    font-size: 20px;
}

.message-top .two >p{
    line-height: 30px;
}

.message .info{
    width: 100%;
    padding: 3%;
    background: #eee;
}

.message .info .name{
    line-height: 40px;
    margin: 2% 0;
    font-weight: bold;
    font-size: 20px;
}

.message .info>input{
    width: 100%;
    height: 40px;
    margin: 2% 0;
}

.message .info .button{
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 4% 0;
    background-color: #666;
}

.message .info .button a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.main {
    padding: 3%;
    background: #eee;
    width: 100%;
    height: 520px;
    margin-bottom: 20px;
}
.main span {
    color: rgb(151,151,151);
    font-size: 30px;
    margin-right: 20px;
}
.jiantou {
    position: absolute;
    border: 20px solid #e7e7e7;
    top: 35%;
    right: 14px;
    height: 60px;
    width: 60px;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
    cursor: pointer;
}
.content {
    width: 90%;
    margin: auto;
    background: white;
}
.content form {
    padding-left: 10px;
}
.content form p img {
    vertical-align: middle;
}
.content form p {
    height: 50px;
    line-height: 50px;
}
.fo input {
    width: 90%;
    height: 35px;
    padding-left: 10px;
}
.content form select {
    height: 35px;
    width: 90px;
    color: #a1a1a1;
}
.box {
    width: 90%;
    overflow: hidden;
}
.box select {
    float: left;
    margin-right: 4px;
}
.box input {
    float: right;
    width: 115px;
    margin-left: 30px;
    height: 35px;
}
.what a{
    float: right;
    margin-right: 30px;
    text-decoration: underline;
    color: #a1a1a1;
    cursor: pointer;
}
.cen {
    margin: auto;
    margin-bottom: 10px;
}
.cen {
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: rgb(102,102,102);
}
.cent {
    display: flex;
}